@inherits LayoutComponentBase
@attribute [Authorize(Roles = Role.All)]
@inject SchoolStateProvider _provider
@inject NavigationManager _nav
@inject IMessageService _message

<Layout Style="min-height: 100%">
    <style>
        .header {
            color: white;
        }
    </style>
    <Header class="header">
        <h1 style="display: inline; color: white;">教务管理系统</h1>
        <AuthorizeView Roles="@Role.All">
            <Space>
                <SpaceItem>
                    <div style="display: inline;">
                        欢迎，@_provider.CurrentUser.Name
                    </div>
                </SpaceItem>
                <SpaceItem>
                    <div style="display: inline;">
                        @if (_provider.CurrentUser.Role == Role.Administrator)
                        {
                            <span>管理员</span>
                        }
                        else if (_provider.CurrentUser.Role == Role.Teacher)
                        {
                            <span>工号：@_provider.CurrentUser.Id</span>
                        }
                        else if (_provider.CurrentUser.Role == Role.Student)
                        {
                            <span>学号：@_provider.CurrentUser.Id</span>
                        }
                    </div>
                </SpaceItem>
                <SpaceItem>
                    <Button Danger Type="@ButtonType.Text" OnClick="Logout">退出登录</Button>
                 </SpaceItem>
             </Space>
         </AuthorizeView>
     </Header>
     <Layout>
         <Sider Width="200">
             <Menu Mode="MenuMode.Inline" Style="height: 100%; border-right: 0;">
                 <MenuItem><NavLink href="/">首页</NavLink></MenuItem>
                 <AuthorizeView Roles="@Role.Student">
                     <MenuItem RouterLink="/select" RouterMatch="NavLinkMatch.All">选课</MenuItem>
                 </AuthorizeView>
                 <AuthorizeView Roles="@Role.All">
                     <MenuItem RouterLink="/open" RouterMatch="NavLinkMatch.All">开课列表</MenuItem>
                 </AuthorizeView>
                 <AuthorizeView Roles="@Role.All">
                     <MenuItem RouterLink="/courses" RouterMatch="NavLinkMatch.All">课程列表</MenuItem>
                     <MenuItem RouterLink="/institutes" RouterMatch="NavLinkMatch.All">学院列表</MenuItem>
                 </AuthorizeView>
                 <AuthorizeView Roles="@Role.Administrator">
                     <MenuItem RouterLink="/students" RouterMatch="NavLinkMatch.All">学生列表</MenuItem>
                     <MenuItem RouterLink="/teachers" RouterMatch="NavLinkMatch.All">教师列表</MenuItem>
                 </AuthorizeView>
             </Menu>
         </Sider>
         <Layout Style="padding: 24px 24px;">
             <Content Style="padding: 24px; margin: 0; min-height: 280px; background: white;">
                 @Body
             </Content>
         </Layout>
     </Layout>
 </Layout>

 @code {
#pragma warning disable 4014
    async void Logout()
    {
        if (await _provider.Logout())
        {
            _message.Info("已退出登录，重定向至首页...");
            _nav.NavigateTo("/", true);
        }
    }
}
